<body>
   Hello, <strong>{{fullName}}</strong> <br>
   <p>A password reset was initiated on your solva account, with the email <strong>{{email}}</strong></p>
   <br/>

   <p>Please use the following One-Time Password (OTP) to proceed:<br/> <h1>{{otp}}<h1></p>

   <p>This otp is only valid for <strong>30 minutes</strong><p>
   <p><strong>Note:</strong> if you did not initiate this, ignore this email and your password will remain unchanged.</p>

   <p>Thanks,<br/>The Solva Team</p>
</body>
